# Projeto prático 1

## Importação das bibliotecas necessárias

In [1]:
import numpy as np
import pandas as pd

## Exercício 1

Objetivo: Implementar o quicksort e utilizar funções do Numpy na implementação

### Função do quicksort

In [44]:
def quicksort(arr: np.array) -> np.array:
    # Caso base, o array tem tamanho 0 ou 1
    if arr.shape[0] <= 1:
        return arr
    
    # Escolhe um pivô como sendo a mediana
    pivot = np.median(arr)
    
    # Divide o array em 3 partes: menores que o pivô, iguais ao pivô e maiores que o pivô
    left, middle, right = arr[arr < pivot], arr[arr == pivot], arr[arr > pivot]

    return np.concatenate([quicksort(left), middle, quicksort(right)], axis=0)

### Testes com o quicksort

In [45]:
a = np.random.randint(0, 10, 10)
quicksort(a)

array([1, 1, 2, 4, 4, 6, 6, 7, 9, 9])

## Exercício 2

Objetivo: Transformar o atributo “gender” em variáveis numéricas usando o Label
encoding.

### Carregamento e visualização dos dados

In [ ]:
df = pd.read_csv('../data/Sleep_health_and_lifestyle_dataset.csv', index_col=0).reset_index(drop=True)
df.head()

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [ ]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

### Transformação dos dados da coluna Gender em valores categóricos

In [ ]:
map_values = {
    'Female': 0,
    'Male': 1
}

df_processed = df.copy()
df_processed['Gender'] = df_processed['Gender'].map(map_values)
df_processed.head()

,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,1,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,1,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,1,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,1,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

## Exercício 3

Objetivo: Calcular determinante de matrizes 3x3

### Função para calcular determinante

In [ ]:
def get_matrix_determinant(matrix: np.ndarray[3, 3]) -> int | float:
    # Cria a matriz auxiliar com as duas primeiras colunas no final
    matrix_aux = np.concatenate((matrix, matrix[:, :2]), axis=1)
    
    # Cria as listas de índices para as diagonais principais e secundárias
    main_indexes = [
                [[0, 0], [1, 1], [2, 2]],
                [[0, 1], [1, 2], [2, 3]],
                [[0, 2], [1, 3], [2, 4]]
                ]
    secondary_indexes = [
                [[0, 2], [1, 1], [2, 0]],
                [[0, 3], [1, 2], [2, 1]],
                [[0, 4], [1, 3], [2, 2]]
                ]
    
    # Variáveis que armazenarão a soma das diagonais principais e secundárias
    sum_main_diagonal = 0
    sum_secondary_diagonal = 0
    
    # Calcula a soma das diagonais principais e secundárias
    for main_index, secondary_index in zip(main_indexes, secondary_indexes):
        main_diagonal = np.prod([matrix_aux[i, j] for i, j in main_index])
        secondary_diagonal = np.prod([matrix_aux[i, j] for i, j in secondary_index])

        sum_main_diagonal += main_diagonal
        sum_secondary_diagonal += secondary_diagonal

    # Calcula o determinante da matriz
    matrix_determinant = sum_main_diagonal - sum_secondary_diagonal

    return matrix_determinant

0

### Testes da função de calculo de determinante

In [ ]:
matrix = np.random.randint(0, 10, size=(3, 3))
get_matrix_determinant(matrix), np.linalg.det(matrix)

(130, 129.99999999999997)